<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<title>Loan investment tool</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper blue">
        <a href="#" class="brand-logo">&nbsp Lendon</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html"></a></li>
            <li><a href="components.html">FAQ</a></li>
            <li><a href="javascript.html">Login</a></li>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
