{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
     </div>


    <div class="col s12">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
    </div>


    <div class="col s3">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
    </div>

    <div class="col s3">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
    </div>


    <div class="col s3">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
    </div>

    <div class="col s3">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
    </div>

    <div class="col s3">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
    </div>

    <div class="col s3">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://orig12.deviantart.net/293f/f/2013/341/7/9/john_galt_by_sizarieldor-d6x3buk.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">John Galt<i class="material-icons right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">John Galt<i class="material-icons right">close</i></span>
          <p>Stat: 1, Stat2: x</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
