{% extends "base.html" %}
{% block content %}
<div class="container">
 <h1>Currently funded loans</h1>
 <ul class="collection">
  {% for loan in superlist %}
  <li class="collection-item dismissable">
     <div class="chip">
       <img src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/287.jpg" alt="Sample image">
           Jane Doe
     </div>
   Loan ID: <a href="loan/{{ loan[0][0] }}">{{ loan[0][0] }}</a> Rate: {{ loan[1][0]|round }}
  <a class="waves-effect waves-light btn" href="https://bitlendingclub.com/loan/browse/lid/{{ loan[0][0] }}">Invest</a> 
  </li>
  {% endfor %}
 </ul>
</div>
{% endblock %}
