{% extends "base.html" %}
{% block content %}
<div class="container">
<table>
        <thead>
          <tr>
              <th data-field="lid">Loan ID</th>
              <th data-field="rate">Rate</th>
              <th data-field="action">Action</th>
          </tr>
        </thead>

        <tbody>
 {% for loan in superlist %}
       <tr>
        <td>{{ loan[0][0] }}</td>
        <td>{{ loan[1][0]|round }}</td>
        <td>  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </td>
       </tr>
 {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
