<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Loan view</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    </head>
    <body>
<div class="container">
    <h1 style="position: center;">{{ id }}</h1>
    <h2>Investments</h2>
    <table>
        <thead>
            <tr>
                <th data-field="amount">Amount</th>
                <th data-field="rate">Rate</th>
            </tr>
        </thead>
        <tbody>
    {% for inv in investments %}
    <tr>
      <td>   Amount: {{ inv[0] }} </td>
      <td> Rate: {{ inv[1] }}    </td>
    </tr>
    {% endfor %}
       </tbody>
    </table>
    <img class="responsive-img" src="/static/images/{{ id }}.png">
</div>
    </body>
</html>
